section.profile-timeline
    div(*ngIf="!timelineList")
         div.spin
            img(
                src="/" + _version + "/svg/spinner-circle.svg",
                [alt]="'COMMON.LOADING' | translate"
            )

    div(infiniteScroll,
        (scrolled)="needMore.emit(true)",
        [infiniteScrollDisabled]="scrollDisabled"
    )
        tg-user-timeline-item(*ngFor="let item of timelineList", [item]="item")
