.discover-search
    tg-discover-search-bar((search)="onSearch($event)", [projectsCount]="projectsCount|async", [withFilters]="true")

tg-discover-search-results([projects]="searchResults | async", [order]="order", (orderChange)="setOrder($event)")
