.empty-large(*ngIf="projects && !projects.size === 0 && !loadingGlobal && !loadingList")
    img(
        src="/" + _version + "/images/empty/empty_tex.png",
        [alt]="'DISCOVER.EMPTY' | translate"
    )
    p.title(translate="DISCOVER.EMPTY")

.discover-results(*ngIf="(projects && projects.size) || loadingGlobal || loadingList")
    // .spin(tg-loading="loadingGlobal")

    .discover-results-inner(*ngIf="!loadingGlobal")
        tg-discover-search-list-header(
            (orderChange)="orderChange.emit($event)",
            [order]="order"
        )

        .spin(ng-show="loadingList", tg-loading="loadingList")

        ul.project-list(*ngIf="!loadingList && projects.size")
            tg-discover-search-result(*ngFor="let project of projects", [project]="project")

        // tg-loading="loadingPagination"
        a.button-green.more-results(
            (click)="showMore()",
            *ngIf="nextSearchPage",
            translage="DISCOVER.VIEW_MORE"
        )
