p.register-text(
    // *ngIf="privacyPolicyUrl && termsOfServiceUrl"
    [translate]="'LEGAL.TERMS_OF_SERVICE_AND_PRIVACY_POLICY_AD'"
    [translateParams]="{termsOfServiceUrl: termsOfServiceUrl, privacyPolicyUrl: privacyPolicyUrl}"
)
