h2.card-title
    // [routerLink]="['/project', project.get('slug'), 'userstory', item.get('ref')]",
    // [routerQueryParams]="{kanban-status: item.get('status')}",
    a(title="#{{ item.get('ref') }} {{ item.get('subject') }}")
        span(*ngIf='zoom.visibility.ref') {{"#" + item.get('ref')}}
        span.e2e-title(*ngIf='zoom.visibility.subject') {{item.get('subject')}}
        tg-belong-to-epics(
            format="pill",
            *ngIf="item.get('epics')",
            [epics]="item.get('epics')"
        )
