div(
    [class]="'card-inner zoom-' + zoomLevel",
    [class.card-blocked]="item.get('is_blocked')",
    [class.archived]="archived"
)
    tg-card-tags([tags]="item.get('tags')", *ngIf="zoom.visibility.tags")
    tg-card-owner([item]="item", [zoom]="zoom", [project]="project")
    div(*ngIf='zoom.visibility.owner')
        tg-card-title([item]="item", [zoom]="zoom", [project]="project")
    tg-card-data([item]="item", [zoom]="zoom")
    tg-card-completion([tasks]="item.get('tasks')", *ngIf="isVisibleCompletion()")
    tg-card-tasks([project]="project", [tasks]="item.get('tasks')", *ngIf="isVisibleTasks()")
    tg-card-slideshow(
        *ngIf="isVisibleSlideshow()",
        [images]="item.get('images')"
    )
    tg-card-unfold(*ngIf="isVisibleFold()", (fold)="toggleFold()")
