.attachment-gallery
    tg-attachment-gallery(
        *ngFor="let attachment of attachments",
        [attachment]="attachment",
        (delete)="delete.emit($event)",
        type="type"
    )

    // .single-attachment(ng-repeat="file in uploadingAttachments")
    //     .loading-container
    //         img.loading-spinner(
    //             src="/#{v}/svg/spinner-circle.svg",
    //             alt="{{'COMMON.LOADING' | translate}}"
    //         )
    //     .attachment-data {{file.progressMessage}}
