section.discover
    header
        // tg-discover-search-bar((on-change)="onSubmit(q)")

    section.highlighted
        tg-most-liked([projects]="mostLikedProjects | async", (order)="onMostLikedOrder($event)")
        tg-most-active([projects]="mostActiveProjects | async", (order)="onMostActiveOrder($event)")

    section.featured-projects
        // tg-featured-projects
