section.discover
    header
        tg-discover-search-bar((on-change)="onSubmit(q)")

    section.highlighted
        tg-most-liked
        tg-most-active

    section.featured-projects
        tg-featured-projects
