.most-liked(*ngIf="highlighted.size")
    .header
        .title-wrapper
            tg-svg(svg-icon="icon-like")
            h1.title(translate="DISCOVER.MOST_LIKED")
        tg-discover-home-order-by(
            (on-change)="orderBy(orderBy)"
            [order-by]="currentOrderBy"
        )
    tg-highlighted(
        [loading]="loading",
        [highlighted]="highlighted"
        [order-by]="order_by"
    )

.empty-highlighted-project(*ngIf="!highlighted.size")
    tg-svg(svg-icon="icon-like")
    span(translate="DISCOVER.MOST_LIKED_EMPTY")
