div.home-wrapper.centered
    tg-joy-ride(key="dashboard", [steps]="joyRideSteps")

    div.duty-summary
        h1
            span.green(translate="HOME.DASHBOARD")
        tg-working-on.dashboard-container([assignedTo]="assignedTo | async", [watching]="watching | async")

    aside.project-list
        tg-home-project-list([projects]="projects | async")
