.filters-applied
    .single-filter.ng-animate-disabled(*ngFor="filter in filters")
        span.name([style.border-left]="filter.get('color') ? 'border-left: 3px solid ' + filter.get('color') : ''") {{filter.get('name')}}
        a.remove-filter.e2e-remove-filter(
           (click)="filterClicked()"
       )
            tg-svg(svg-icon="icon-close")

