.most-active(*ngIf="highlighted.size")
    .header
        .title-wrapper
            tg-svg(svg-icon="icon-activity")
            h1.title(translate="DISCOVER.MOST_ACTIVE")
        tg-discover-home-order-by((on-change)="orderBy(orderBy)", [order-by]="currentOrderBy")

    tg-highlighted(
        [loading]="loading",
        [highlighted]="highlighted"
        [order-by]="order_by"
    )

.empty-highlighted-project(*ngIf="!highlighted.size")
    tg-svg(svg-icon="icon-activity")
    span(translate="DISCOVER.MOST_ACTIVE_EMPTY")
