.card-inner(
    [class]="'zoom-' + zoomLevel",
    [class.card-blocked]="item.get('is_blocked')",
    [class.archived]="archived"
)
    tg-card-tags([tags]="item.get('colorized_tags')")
    tg-card-owner([item]="item")
    div(tg-visible='owner')
        tg-card-title([item]="item")
    // tg-card-data([item]="item")
    // include card-templates/card-data
    // include card-templates/card-completion
    // include card-templates/card-tasks
    // tg-card-slideshow(
    //     ng-if="vm.isSlideshowVisible()"
    //     images="vm.item.get('images')"
    // )
    // include card-templates/card-unfold
