fieldset.create-project-invite
    .create-project-invite-avatars
        tg-single-member(
            *ngFor="let member of members",
            [disabled]="isDisabled(member.get('id'))",
            [user]="member",
            (click)="onToggleInvitedMember({member: member.get('id')})"
        )
