.summary.wiki-summary(*ngIf="page !== null")
    .wiki-username-edition
        .avatar
            tg-avatar([user]="project.getIn(['membersById', page.get('last_modifier')])")
        .wiki-user-modification
            span.description(translate="WIKI.SUMMARY.LAST_MODIFICATION")
            span.username {{ project.getIn(['membersById', page.get('last_modifier'), 'name']) }}

    .wiki-last-modified
        span.number {{ page.get('last_modified_date') }}
        span.description(translate="WIKI.SUMMARY.LAST_EDIT")

    .wiki-times-edited
        span.number {{ page.get('total_editions') }}
        span.description(translate="WIKI.SUMMARY.TIMES_EDITED")

    // tg-check-permission="delete_wiki_page"
    tg-svg.remove(
        *ngIf="page.get('id')",
        [title]="'WIKI.REMOVE' | translate",
        (click)="delete()",
        svg-icon="icon-trash"
    )
