div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../../assets/svg/logo-color.svg
            h1.logo Taiga
            h2.tagline(translate="COMMON.TAG_LINE_2")

            tg-login-form
