.card-tags
    ng-template(*ngFor="let tag of tags")
        span.card-tag(
            *ngIf="tag.get('color')",
            [style.background-color]="tag.get('color')",
            [title]="tag.get('name')"
        )
