section.admin-membership-table.basic-table
    .row.title
        div.header-member(translate="ADMIN.MEMBERSHIP.COLUMN_MEMBER")
        div.header-admin(translate="ADMIN.MEMBERSHIP.COLUMN_ADMIN")
        div.header-role(translate="ADMIN.MEMBERSHIP.COLUMN_ROLE")
        div.header-status(translate="ADMIN.MEMBERSHIP.COLUMN_STATUS")

    .row(*ngFor="let member of memberships")
        // div.row-member(tg-memberships-row-avatar="member")
        // div.row-admin(tg-memberships-row-admin-checkbox="member")
        // div.row-role(tg-memberships-row-role-selector="member")
        // div.row-status(tg-memberships-row-actions="member")
        tg-memberships-row-avatar([member]="member")
        tg-memberships-row-admin-checkbox([member]="member")
        tg-memberships-row-role-selector([member]="member")
        tg-memberships-row-actions([member]="member")

// div.paginator.memberships-paginator
//     ul.paginator
//         li.previous(*ngIf="hasPrevious")
//             a(href="", class="previous next_prev_button", class="disabled")
//                 span(translate="PAGINATION.PREVIOUS")
//
//         <% _.each(pages, function(item) { %>
//         li(class!="<%- item.classes %>")
//             <% if (item.type === "page") { %>
//             a(href="", data-pagenum!="<%- item.num %>") <%- item.num %></a>
//             <% } else if (item.type === "page-active") { %>
//             span(class="active") <%- item.num %>
//             <% } else { %>
//             span ...
//             <% } %>
//         <% }); %>
//
//         li.next(*ngIf="hasNext")
//             a(href="", class="next next_prev_button", class="disabled")
//                 span(translate="PAGINATION.NEXT")
